/* ======================================================
    ### Responsive Mobile-first Media Queries ###
========================================================= */

/* ---------------------- max1280px --------------------- */
/* ------------------------------------------------------ */
@media screen and (max-width : 1199.98px) {
    .bc_btn {
        padding: 0 18px;
    }
}

/* ------------------  end max1280px ------------------- */


/* ---------------------- max992px --------------------- */
/* ------------------------------------------------------ */

@media screen and (max-width : 991.98px) {
    .crpyto_user_hd_info {
        justify-content: flex-start;
    }

    .crpyto_user_hd_info li {
        margin-left: 15px;
        padding: 14px 0 14px 0;
    }

    .crpyto_user_hd_info li i {
        margin: 3px 10px 0 0;
    }

    .dropdown ul.drop_menu li {
        margin-left: 0;
        text-align: center;
    }

    .dropdown:hover .drop_menu {
        height: auto;
    }

    /*==================mobile_menu_column================*/
    .mobile_menu_column {
        border-top: 1px solid #ccc;
    }

    .btn_toggle {
        padding: 18px 15px;
        float: none;
        background: #f7f7f7;
    }

    .toggle_bar {
        position: relative;
        border: 2px solid #ffb426;
        border-radius: 1px;
        height: 30px;
        width: 30px;
        padding: 10px;

    }

    .icon_bar {
        background: #ffb426 none repeat scroll 0 0;
        width: 30px;
        height: 2px;
        border-radius: 1px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .icon_bar:after,
    .icon_bar:before {
        position: absolute;
        content: '';
        left: 0;
        width: 100%;
        height: 2px;
        background: #ffb426 none repeat scroll 0 0;
        transition: all .3s ease;

    }

    .icon_bar:after {
        top: -6px;
    }

    .icon_bar:before {
        top: 6px;
    }

    .toggle_bar:focus {
        outline: none;
    }

    button.navbar-toggler.toggle_bar[aria-expanded="true"] .icon_bar:after {
        top: 0;
        transform: translate(0)rotate(45deg);
    }

    button.navbar-toggler.toggle_bar[aria-expanded="true"] .icon_bar {
        background: transparent;
    }

    button.navbar-toggler.toggle_bar[aria-expanded="true"] .icon_bar:before {
        top: 0;
        transform: translate(0) rotate(135deg);
    }

    .main_menu_logo {
        margin: 15px 0 15px;
        text-align: center;
    }

    .main_menu_items {
        position: relative;
    }

    .main_menu {
        display: none;
    }

    .mb_main_menu {
        display: block;
    }

    .custom_scroll {
        width: 100%;
        max-height: 300px;
        overflow-y: auto !important;
    }

    .mobile_menu {
        display: block;
        margin-top: 15px !important;
        margin-bottom: 15px;
    }

    .mr_area {
        position: absolute;
        right: 0;
        top: 105px;
        z-index: 99;
    }

    .mobile_main_menu ul li a {
        background: #fff;
        padding: 10px 20px !important;
        line-height: 22px;
        color: #222;
        display: block;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        border-top: 1px solid #ffb426;
    }

    .active {
        border-top: 1px solid #ffb426;
        border-bottom: none !important;
        color: red;
    }

    .mobile_main_menu ul .d_down_menu {
        position: absolute;
        left: 0px;
        top: 100%;
        background: transparent;
        width: 100%;
        padding: 12px 0px;
        z-index: 999;
        display: none;
    }

    .mobile_main_menu ul .d_down_menu li a {
        color: #333 !important;
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        padding: 12px 20px !important;
        margin: 0;
        text-transform: capitalize;
        transition: all .5s ease 0s;
        border-bottom: none;
    }

    .d_down_menu li:first-child a {
        border-top: none;
    }

    .mobile_main_menu ul .d_down_menu li:hover a {
        color: #ffb426 !important;

    }

    .d_down_btn,
    .sd_down_btn,
    .bd_down_btn {
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;
        height: 42px;
        border-left: 1px solid #ffb426;
        cursor: pointer;
        display: block;
        z-index: 5;
        color: #ffb426;
        text-align: center;
        line-height: 42px;
    }

    .md_drop_menu,
    .sd_menu,
    .b_down_menu {
        display: none;
    }

    /*==================!End mobile_menu_column================*/

}

/*====================================================================*/

/* ------------------  end max992px ------------------- */



/* ---------------------- max768px --------------------- */
/* ------------------------------------------------------ */
@media screen and (max-width: 767.98px) {
    .crpyto_user_hd_info li {
        font-size: 14px;
        margin-left: 30px;
        padding: 14px 0 14px 0;
    }

    .crpyto_user_hd_info li:first-child {
        margin-left: 15px;
    }

    .mr_area {
        position: absolute;
        right: 0;
        top: 105px;
        z-index: 99;
        width: 200px;
    }
}

/* ------------------  end max768px ------------------- */



/* ---------------------- max575px --------------------- */
/* ------------------------------------------------------ */
@media(max-width: 575.98px) {}

/* ------------------  end max575px ------------------- */